@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf");
}

html,
body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-variation-settings: "wght" 400;
}

* {
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  margin-top: 1.8rem;
  font-variation-settings: "wght" 600;
}

h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 2rem;
}

h3,
.h3 {
  font-size: 1.5rem;
}

h4,
.h4 {
  font-size: 1.2rem;
}

h5,
.h5 {
  font-size: 1rem;
}

p,
ul,
ol {
  margin-top: 0.8rem;
  line-height: 1.8rem;
}

li > ul,
li > ol {
  margin-top: 0;
}

a {
  /* color: #0070f3; */
  color: #00a094;
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

hr {
  margin: 2rem 0;
}

blockquote,
.callout {
  margin: 2rem 0;
  padding: 2rem;
  border-radius: 0 5px 5px 0;

  background-color: #f3f3f3;
  color: #282828;
}

blockquote *:first-child,
.callout *:first-child {
  margin-top: 0;
}

blockquote *:last-child,
.callout *:last-child {
  margin-bottom: 0;
}

blockquote {
  border-left: #999999 solid 5px;
}

.callout {
  /* border-left: #f573a1 solid 5px; */
  border-left: #00a094 solid 5px;
}

pre {
  font-size: 16px;
  margin: 2rem 0;
  padding: 2rem;
  border-radius: 5px;
  overflow-x: auto;
}

code {
  font-size: 0.9rem;
  /* font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace, serif; */
  font-family: Consolas, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New;
}

:not(pre) > code {
  padding: 0.1rem;
  border-radius: 5px;
  background-color: #f3f3f3;
}

strong {
  font-variation-settings: "wght" 600;
}
