.container {
  margin: auto;
  padding: 0 1rem;
  max-width: 750px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* .main {
  padding: 3rem 0;
} */

.header {
  height: 6rem;
  display: flex;
  align-items: center;
}

.footer {
  margin-top: 4rem;
  /* padding: 2rem; */
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px #999999 solid;
}

.social {
  display: flex;
  gap: 2rem;
}

.social a {
  line-height: 0;
}

.social a:hover {
  cursor: pointer;
  filter: invert(40%) sepia(99%) saturate(703%) hue-rotate(136deg)
    brightness(92%) contrast(102%);
}
